In [1]:
## Integer Example
age = 25
print("Age is:", age)
print("Type of age:", type(age))

Age is: 25
Type of age: <class 'int'>

In [2]:
## Floting Point Example
height = 5.9
print("Height is:", height)
print("Type of height:", type(height))

Height is: 5.9
Type of height: <class 'float'>

In [3]:
## String data type example
name = "John Doe"
print("Name is:", name)
print("Type of name:", type(name))

Name is: John Doe
Type of name: <class 'str'>

In [8]:
## boolean data type example
is_student = True
print("Is student:", is_student)
print("Type of is_student:", type(is_student))

print(type(True))
print(type(False))

is_true = bool(1)
print("is_true:", is_true)
print("Type of is_true:", type(is_true))

a = 10
b = 20
print(type(a==b))
print(type(a!=b))

Is student: True
Type of is_student: <class 'bool'>
<class 'bool'>
<class 'bool'>
is_true: True
Type of is_true: <class 'bool'>
<class 'bool'>
<class 'bool'>

In [9]:
## Common Errors
num = "100"
print("Num as string:", num)
print("Type of num as string:", type(num))
num = int(num)
print("Num as integer:", num)
print("Type of num as integer:", type(num))
# num = int("100.5")  # This will raise a ValueError

Num as string: 100
Type of num as string: <class 'str'>
Num as integer: 100
Type of num as integer: <class 'int'>

In [10]:
result = "Hello " + 5
print(result)

TypeError: can only concatenate str (not "int") to str

In [ ]:
result = "Hello "  + str(5)
print(result)

Hello5

In [16]:
str = "hello, world!"
print(str.capitalize()) 
print(str.lower())
print(str.upper())
print(str.title())

Hello, world!
hello, world!
HELLO, WORLD!
Hello, World!