In [1]:
a=100

In [2]:
## Declaring and Assigning variables
age=25
height=5.9
name="John Doe"
is_student=True
print("Name:",name)
print("Age:",age)
print("Height:",height)
print("Is Student:",is_student)
print("a:",a)
print("Hello, World!")

Name: John Doe
Age: 25
Height: 5.9
Is Student: True
a: 100
Hello, World!

In [3]:
## Naming Conventions
## Variable names should be descriptive
## They must always start with a letter or an underscore (_)
## They cannot start with a number
## They can only contain alpha-numeric characters and underscores (A-z, 0-9, and _ )
## Variable names are case-sensitive (age, Age and AGE are three different variables)
## Avoid using Python reserved keywords as variable names (like if, else, while, for, etc.)
## Use snake_case for variable names (e.g., my_variable_name)

In [4]:
##Invalid variable names examples (uncomment to see errors)
#1st_place = "Alice"  # Cannot start with a number
#my-variable = 10    # Hyphens are not allowed
#for = 5            # 'for' is a reserved keyword
_myVariable = 20    # Valid but not recommended (camelCase)
my_variable_name = 30  # Recommended (snake_case)
print("_myVariable:",_myVariable)
print("my_variable_name:",my_variable_name)

_myVariable: 20
my_variable_name: 30

In [5]:
## Understaning Data Types
## Python is dynamically typed language
## Type of the variable is inferred at runtime
age  = 30            # Integer
height = 5.8        # Float
name = "Alice"     # String
is_student = False  # Boolean
print("Type of age:", type(age))
print("Type of height:", type(height))
print("Type of name:", type(name))
print("Type of is_student:", type(is_student))
# --- IGNORE ---

Type of age: <class 'int'>
Type of height: <class 'float'>
Type of name: <class 'str'>
Type of is_student: <class 'bool'>

In [6]:
age = 25
print(type(age))  # Output: <class 'int'>
age = "Twenty Five"
print(type(age))  # Output: <class 'str'>
# --- IGNORE ---

<class 'int'>
<class 'str'>

In [7]:
age=40
age=str(age)
print("Age is:",age)
print("Type of age:",type(age))

Age is: 40
Type of age: <class 'str'>

In [8]:
age = '25'
age = int(age)
print("Age after conversion:", age)
print("Type of age after conversion:", type(age))

Age after conversion: 25
Type of age after conversion: <class 'int'>

In [9]:
name="test"
int(name)
print("Name is:",name)

ValueError: invalid literal for int() with base 10: 'test'

In [10]:
height = 5.9
print("Height is:", height)
print("Type of height:", type(height))  
height = int(height)
print("Height after conversion:", height)  
print("Type of height after conversion:", type(height))

Height is: 5.9
Type of height: <class 'float'>
Height after conversion: 5
Type of height after conversion: <class 'int'>

In [11]:
height=5
height=float(height)
print("Height as float:",height)
print("Type of height as float:",type(height))

Height as float: 5.0
Type of height as float: <class 'float'>

In [12]:
## Dynamic Typing in Python
## Python allows variables to change types dynamically
var = 10
print("Value:", var, "Type:", type(var))
var = "Now I'm a string"
print("Value:", var, "Type:", type(var))

Value: 10 Type: <class 'int'>
Value: Now I'm a string Type: <class 'str'>

In [ ]:
## Input
user_name = input("Enter your name: ")
print("Hello,", user_name)

Hello, Ravi

In [14]:
## Input
age = input("Enter your age: ")
print("You are", age, "years old.") 
print(type(age))

You are 12 years old.
<class 'str'>

In [16]:
age = int(input("Enter your age: "))
print(age) 
print(type(age))

12
<class 'int'>