In [3]:
## Tuples are immutable lists and ordered collections
my_tuple = (5, 4, 3, 2, 1)
print(my_tuple)  # Output: (5, 4, 3, 2, 1)

(5, 4, 3, 2, 1)

In [4]:
empty_tuple = ()
print(empty_tuple)  # Output: ()
print(type(empty_tuple))  # Output: <class 'tuple'>

()
<class 'tuple'>

In [5]:
list = list()
print(list)

[]

In [6]:
tpl = tuple()
print(tpl)

()

In [7]:
tpl_from_list = tuple([1, 2, 3, 4, 5])
print(tpl_from_list)

(1, 2, 3, 4, 5)

In [9]:
mixed_tuple = (1, "Hello", 3.4, True)
print(mixed_tuple)
nested_tuple = (1, 2, (3, 4), [5, 6])
print(nested_tuple)

(1, 'Hello', 3.4, True)
(1, 2, (3, 4), [5, 6])

In [11]:
## Accessing tuple elements
my_tuple = (10, 20, 30, 40, 50)
print(my_tuple[0])  # Output: 10
print(my_tuple[-1])  # Output: 50  
print(my_tuple[1:4])  # Output: (20, 30, 40)
# Tuples are immutable, so the following line would raise an error
#my_tuple[0] = 100  # TypeError: 'tuple' object does not support item assignment

10
50
(20, 30, 40)

In [15]:
## Tuple Operations
tuple1 = (1, 2, 3)
tuple2 = (4, 5, 6)
print(tuple1 + tuple2)  # Output: (1, 2, 3, 4, 5, 6) Concatenation
print(tuple1 * 2)  # Output: (1, 2, 3  1, 2, 3) Repetition
print(2 in tuple1)  # Output: True Membership Test
print(len(tuple1))  # Output: 3 Length of the tuple

(1, 2, 3, 4, 5, 6)
(1, 2, 3, 1, 2, 3)
True
3

In [ ]:
## Counting unique words in a sentence
sentence = "This is a test. This test is only a test."
words = sentence.split()
word_tuple = tuple(words)
unique_words = set(word_tuple)
print("Unique words:", unique_words)
print("Number of unique words:", len(unique_words))

Unique words: {'test.', 'This', 'test', 'only', 'is', 'a'}
Number of unique words: 6
Maximum value: 10

In [18]:
## Finding the maximum and minimum values in a tuple of numbers
numbers = (10, 3, 5, 7, 2, 8)
max_value = max(numbers)
min_value = min(numbers)
print("Maximum value:", max_value)

Maximum value: 10

In [ ]:
## unpacking tuples
person_info = ("Alice", 30, "Engineer")
name, age, profession = person_info
print("Name:", name)
print("Age:", age)
print("Profession:", profession)

Name: Alice
Age: 30
Profession: Engineer

In [21]:
## Packing tuples
person_tuple = "Bob", 25, "Designer"
print("Person Tuple:", person_tuple)
print(type(person_tuple))  # Output: <class 'tuple'>

Person Tuple: ('Bob', 25, 'Designer')
<class 'tuple'>

In [23]:
## Unpacking with * operator
numbers = (1, 2, 3, 4, 5)
first, *middle, last = numbers
print("First:", first)      # Output: First: 1  
print(type(first))
print("Middle:", middle)    # Output: Middle: [2, 3, 4]
print(type(middle))
print("Last:", last)        # Output: Last: 5

First: 1
<class 'int'>
Middle: [2, 3, 4]
<class 'list'>
Last: 5

In [24]:
## Nested tuple 
nested_tuple = (1, 2, (3, 4), [5, 6])
print(nested_tuple[2])  # Output: (3, 4)

(3, 4)